.multichoice {
  margin-top: 25rem;
  margin-left: 20rem;
  margin-right: 20rem;
}


.state{
  margin-top:5rem;
}

.actions {
  margin-top:10rem;

  width: 100%;
  display: flex;
  justify-content: space-between;
}